.Form {
    border: none;
    border-bottom: 2px #5c838c solid;
}

.Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: rgb(237, 232, 247);
    color: #0b0b0b;
}